.questions-container{
    display: flex;    
    align-items: center;
    font-size: 11px;
    padding: 10px;
}

.indicador-titulo {
    font-weight: bold;
    width: 20%;
    word-wrap: break-word;
}

.indicador-respostas{
    border-radius: 1px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 80%;
}


.radio{   
    display: flex;
    align-items: center;
}

.classificacao{
    margin: 5px;
    font-weight: normal;
    text-align: left;
}


@media (max-width: 720px) {
   .indicador-respostas {
     flex-direction: column;
  }

  .radio {
    width: 100%;
  }
}