div {
    border-radius: 4px;
}

div.principal{
    display: flex;
    justify-content: center;
}

div.principal div {
    max-width: 720px;
}

div.content{
    padding: 10px;   
}
div.card {
    border: #A9A9A9 solid 1.5px;
}

div.card-item {
    border-style: none;
    padding: 15px;
}

div#card-item-title {
    background-color: var(--color-cinza-claro);
}

div#card-item-title h1.title {
    color: var(--color-text-base);
    font-kerning: normal;
    font-size: 13pt;
}

div.card-item ul.lista-questionarios {
    list-style: none;
}

div.card div.content ul.lista-questionarios li.item-questionario {
    padding: 5px;
    margin: 20px;
}
ul{
    list-style: none;
}