
.question-container {
    border-style: none;
}

.course-question {
    border-style: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: var(--color-text-base) solid 7px;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    width: auto;
    height: 100%;
    position: relative;
}

div.course-info-question{
    border-style: none;
    margin-left: 10px;
}

.course-question h3.info-question {
    font-weight: bold;
    font-size: 11pt;
    color: rgb(50, 160, 65);
    letter-spacing: 1px;
    text-transform: uppercase;
}


.course-question p {
    font-size: 12pt;
    margin: 10px 0;
    margin-bottom: 30px;
}