/* necessário para obter variáveis do tema, como cores entre outras... */
@import 'primereact/resources/primereact.min.css';

.questionario {

}

.questionario .p-card.p-component {
    border-left: 7px solid var(--primary-color);
    margin: 1rem 0rem;
}

.questionario .p-card-title u {
    /* font-weight: normal; */
    color: var(--primary-color);
    text-transform: uppercase;
}

.questionario .p-card-subtitle {
    /* color: var(--primary-color)!important; */
    /* text-transform: uppercase; */
    /* font-size: 1.5rem; */
    /* font-weight: bold!important; */
    /* animation: blink 1s ease infinite; */
}

.questionario .p-card-content {
    /* color: var(--primary-color); */
    /* font-size: 1.25rem; */
    /* padding: 0px; */
    /* font-weight: bold; */
}


.questionario .questionario-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;    
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
}


.questionario .questionario-actions .p-button  {
    margin-left: 5px;
    animation: zoom-in-zoom-out-normal 2s linear; 
    animation-iteration-count: 2;
}
@keyframes blink{
    0%{opacity: .5;}
    50%{opacity: .75;}
    100%{opacity: 1;}
}

@keyframes zoom-in-zoom-out-normal {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.85, 0.85);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes zoom-in-zoom-out-heavy {
    0% {
        transform: scale(1.1, 1.15);
    }
    50% {
        transform: scale(0.7, 0.7);
    }
    100% {
        transform: scale(1.1, 1.15);
    }
}

.questionario .questionario-etapas {
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    background:var(--surface-c);
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.questionario .p-steps .p-steps-item .p-menuitem-link {
    background: inherit;
}

.questionario .questionario-etapas div:nth-child(1) {
    text-align: center;
    padding: 0.5rem 5rem;
    color: var(--text-color-secondary);
}

.questionario .questionario-etapas + *{
    padding-top: 8.5rem;
}

.questionario .p-steps-current .p-steps-title {
    /* color: var(--primary-color)!important; */
    display: block;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    /* color: var(--primary-color)!important; */
}

.questionario .p-steps-current .p-steps-number {
    font-weight: bold;
    background: var(--primary-color)!important;
    color: #E8F5E9!important;
    animation: zoom-in-zoom-out-heavy 5s linear infinite; 
}

.questionario .p-steps-item {
    padding-left: 1.5rem;
}

.questionario .p-steps-title {
    display: none;
    text-transform: uppercase;
}


.questionario .resposta-invalida {
    background: var(--pink-100)!important;
    color: var(--pink-600)!important;
}

.questionario .resposta-valida {
    /* background: var(--green-100)!important;
    color: var(--green-600)!important; */
}

.questionario .indicadores {
    /* font-size: 0.85rem; */
}

.questionario .p-datatable .p-datatable-thead > tr > th {
    background-color: var(--primary-color)!important;
    color: white!important;
} 

.questionario .indicadores .p-datatable-tbody tr > td + td {
    /* color: red;
    border: 1px solid; */    
    flex-flow: column;
}

.questionario .indicadores .p-field-radiobutton {
    display: flex;
    padding: 0.5rem 0rem;
}

@media only screen and (min-width: 80rem) {
    .questionario .indicadores .p-datatable-tbody tr > td + td {
        display: flex;
        flex-flow: row;      
    }
    
    .questionario .indicadores .p-field-radiobutton {        
        display: flex;
        padding: 0rem 0.5rem;
    }
}

.prepos-etapa .p-panel-content p {
    padding: 20px;
}

.questionario .p-inputtextarea {
    width: 100%;
    font-size: 0.95rem;
}
