/* necessário para obter variáveis do tema, como cores entre outras... */
@import 'primereact/resources/primereact.min.css';

#Toolbar{
    background: var(--surface-d);
    border-radius: 5px;
    
}

div#header{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index:1000;
}   

body {
    padding-top: 90px;
}


#separador{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    background: none;
    color: var(--text-color);
    border-style: none;
}

div#header-leftContents .p-button {
    background-color: transparent;
    border: 0px;
    padding: 2px;
}

div#header-leftContents .p-button i {
    font-size: 2rem;
    margin: 0px;
    color: var(--text-color);
}

#ifpb{
    height: 50px;
    margin-right: 10px;
}
#avin{
    margin-right: 10px;
    height: 25px;
}
#usuario {
    font-size: 1rem;
    color:rgb(50, 160, 65);
    font-weight: bold;
    margin-right: 15px;
    min-width: 50%;
    min-height: 1rem;
    text-align: end;
}

#logo-bar {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.is-loading {  
   background: #eee;
   background: linear-gradient(90deg, #cccccc 8%, #aaaaaa 18%, #cccccc 33%);
   border-radius: 5px;
   background-size: 200% 100%;
   animation: 1s shine linear infinite;  
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}