#Toolbar{
    background: var(--color-cinza-claro);
    border-radius: 5px;
    
}
div#header{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 100%;
    z-index:1000;
}   

body {
    padding-top: 65px;
}


#separador{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    background: none;
    color: black;
    border-style: none;
}
#sign-out{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 15px;
    background: none;
    color: black;
    border-style: none;
}
#ajuda{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 10px;
    margin-left: 6px;
    font-size: 15px;
    margin-right: 6px;
    background: none;
    color: black;
    border-style: none;
}
#logo{
    margin-right: 10px;
}
#avin{
    margin-right: 10px;
}
#usuario{
    font-size: 17px;
    color:rgb(50, 160, 65);
    font-weight: bold;
    margin-right: 15px;
}

#icone_email{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}