#Toolbar{
    background: var(--color-cinza-claro);
    border-radius: 5px;
    
}

div#header{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index:1000;
}   

body {
    padding-top: 80px;
}


#separador{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    background: none;
    color: black;
    border-style: none;
}
#sign-out{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 15px;
    background: none;
    color: black;
    border-style: none;
}
#ajuda{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 10px;
    margin-left: 6px;
    font-size: 15px;
    margin-right: 6px;
    background: none;
    color: black;
    border-style: none;
}
#ifpb{
    height: 50px;
    margin-right: 10px;
}
#avin{
    margin-right: 10px;
    height: 25px;
}
#usuario {
    font-size: 1rem;
    color:rgb(50, 160, 65);
    font-weight: bold;
    margin-right: 15px;
    min-width: 50%;
    min-height: 1rem;
    text-align: end;
}

#logo-bar {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.is-loading {  
   background: #eee;
   background: linear-gradient(90deg, #cccccc 8%, #aaaaaa 18%, #cccccc 33%);
   border-radius: 5px;
   background-size: 200% 100%;
   animation: 1s shine linear infinite;  
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}