
#loading {
    background: rgba(248,249,250);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.85;
    z-index: 9999999;
}
        
#ifpb-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15vh;
    margin-left: -130px;
    margin-top: calc(-15vh/2);
    z-index: 9999999;
}
 